{% extends "web.html" %}
{% block titile %}Form Page{% endblock %}

{% block content %}
<style>
    h1{
        color: white;
        text-align: center;
    }
    p{
        font-size: large;
        text-align: center;
    }
    input{
            font-size: large;
            text-align: center;
        }
</style> <br> <br><br><br><br><br><br>
<h1>CREATE BY :</h1>
<p style="color:white" style="font-size:100px" id="name">Kevin Stefano - Tony - Rifaldy<br></p>
<br> <br><br><br><br><br><br>
<form  action = # method="POST">
    <input type="submit" name="submit" value="home" style="margin:0px auto; display:block;"><br>
</form>
{% endblock content %}