{% extends "web.html" %}

{% block content %}
<div class="form">
  <div class="container mb-3">
    <div class="row my-5 text-center">
      <h1 class="col-12">News Recommender System</h1>
      <div class="col-12">Created By: Fano - Tony - Rifaldy</div>
    </div>
    <div class="row my-5">
      <form class="card" action="{{url_for('form')}}" method="POST" autocomplete="off">
        <div class="card-body">

          <div class="row mb-3">
            <div class="col form-group">
              <label for="newsInput" class="mb-2"><strong>News</strong></label>
              <textarea class="form-control" name="newsInput" id="newsInput" rows="8"></textarea>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12">
              <label for="newsInput" class="mb-2"><strong>Pipeline</strong></label>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pipeline" id="all"
                  value="all" checked>
                <label class="form-check-label" for="all">All</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pipeline" id="keyword_extraction"
                  value="keyword_extraction">
                <label class="form-check-label" for="keyword_extraction">Keyword Extraction</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pipeline" id="topic_classification"
                  value="topic_classification">
                <label class="form-check-label" for="topic_classification">Topic Classification</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pipeline" id="doc_similarity"
                  value="doc_similarity">
                <label class="form-check-label" for="doc_similarity">Document Similarity</label>
              </div>
            </div>
            <!-- <div class="col">
              <label for="numOfKeywords" class="mb-2"><strong>Number of keywords</strong></label>
              <input type="number" name="numOfKeywords" id="numOfKeywords"></input>
            </div> -->
          </div>

          <div class="row mb-3">
            <div class="col">
              <button type="submit" class="btn btn-primary" name="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row my-5">
      {% if keywords %}
      <div class="col card">
        <div class="card-body">
          <div class="card-title h3 mb-3"><strong>Keywords</strong></div>
          <p> {{ keywords }} </p>
        </div>
      </div>
      {% endif %}
      {% if topics %}
      <div class="col card">
        <div class="card-body">
          <div class="card-title h3 mb-3"><strong>Topics</strong></div>
          {% for topic in topics %}
          <p> {{ topic }} </p>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="row my-5">
      {% if recommendations %}
      <div class="col card">
        <div class="card-body">
          <div class="card-title h3 mb-3"><strong>Recommendations</strong></div>
          {% for recommendation in recommendations %}
          <p class="mb-1">Topic: {{ recommendation.topic }} </p>
          <!-- <p class="mb-1">Score: {{ recommendation.score }} </p> -->
          <p class="mb-5">News: {{ recommendation.text }} </p>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}